.juo-ideal-checkout-link-wrapper ~ button {
  margin-top: 0;
}
.juo-ideal-checkout-link-wrapper {
  width: 100%;

  #juo-go-to-checkout-with-ideal {
    gap: 4px !important;
    margin-bottom: 0 !important;
    display: inline-flex !important;
    background-color: red !important;

    img {
      width: 26px;
      height: 26px;
      margin-right: 4px;
    }

    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}
.cart__checkout-button.button.button--primary.button--full-width.focus-inset {
  display: inline-flex !important;
  gap: 0.75rem !important; // adjust as needed
}

#juo-go-to-checkout-with-ideal {
  background-color: red !important;
}

.template-cart {
  .juo-ideal-checkout-link-wrapper {
    margin-bottom: 15px;
  }
}

.btn-checkout {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[name="checkout"] {
    margin-top: 15px !important;
  }

  img,
  svg {
    margin: 0 2px;
  }

  img:first-of-type {
    margin-left: 10px;
  }
}

.cart__ctas.has-subscription {
  flex-direction: column;

  #checkout {
    gap: 4px !important;

    img,
    svg {
      width: 38px;
      height: 38px;
      margin-left: 4px;
    }
    svg {
      width: 58px;
      height: auto;
      left: 0;
      display: block;
      position: relative !important;
      background: #fff;
      padding: 5px;
      border-radius: 2px;

      path {
        visibility: visible !important;
      }
    }
  }
}
